/* src/components/Dashboard.css */

#chartdiv {
    width: 100%;
    height: 500px;
}

.chart-container {
    width: 100%;
    min-width: 600px; /* Ajuste conforme necessário */
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o gráfico */
    width: 100%;
}

